# macOS
.DS_Store

# node.js
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules/

# Logs
*.log

# Private environment variables
.env

# Coverage directory used by jest
coverage

# Compiled files
lib
